<%- include('header', {title:"Add Blood Info"}); -%>


  <h2>Add Available Blood Type</h2>

  <div class="container">
    <form action="/hospital/add-blood" method="post">

      <div class="form-row">
        <div class="col-md-4 mb-3">

          <select id="inputBloodType" name="bloodtype" placeholder="Blood Type" class="form-control " required>
            <option value="" disabled selected>Select your option</option>
            <option value="a_positive">A+</option>
            <option value="a_negative">A-</option>
            <option value="b_positive">B+</option>
            <option value="b_negative">B-</option>
            <option value="ab_positive">AB+</option>
            <option value="ab_negative">AB-</option>
            <option value="o_positive">O+</option>
            <option value="o_negative">O-</option>
          </select>

        </div>

        <div class="col-md-4 mb-3">
          <input type="number" min="0" class="form-control " name="unit" id="" placeholder="unit" required>
        </div>

      </div>
      <button class="btn btn-primary" type="submit">Add</button>
    </form>

  </div>

  <!-- <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
  </form> -->

  <%- include('footer'); -%>