<%- include('header', {title:"Add Blood Info"}); -%>

<center>
  <h2>Add your Blood Stock to Blood Bank</h2>

  <div class="container" style="margin: 5%;">
    <form action="/hospital/add-blood" method="post">

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <h3><label for="inputBloodType">Blood Type</label></h3>
          <select id="inputBloodType" name="bloodtype" placeholder="Blood Type" class="form-control " required>
            <option value="" disabled selected>Select your option</option>
            <option value="a_positive">A+</option>
            <option value="a_negative">A-</option>
            <option value="b_positive">B+</option>
            <option value="b_negative">B-</option>
            <option value="ab_positive">AB+</option>
            <option value="ab_negative">AB-</option>
            <option value="o_positive">O+</option>
            <option value="o_negative">O-</option>
          </select>

        </div>

        <div class="col-md-4 mb-3">
          <h3><label for="units">Quantity</label></h3>
          <input type="number" min="0" class="form-control " name="unit" id="units" placeholder="unit" required>
        </div>

      </div>
      <button class="btn btn-primary btn-lg" type="submit">Add</button>
    </form>

  </div>
</center>

  <%- include('footer'); -%>