<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blood Info</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <h2>Add Available Blood Type</h2>

    <form action="/hospital/bloodinfo" method="post">


        <form>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationServer013">Blood Type</label>
               
                <select id="inputBloodType" name="bloodtype" placeholder="Blood Type" class="form-control "required>
                    <option value="" disabled selected>Select your option</option>
                    <option>A+</option>
                    <option>B+</option>
                    <option>B-</option>
                </select>
               
              </div>

              <div class="col-md-4 mb-3">
                <label for="validationServer013">Blood Type</label>
                <input type="text" class="form-control " id="validationServer013" placeholder="First name" required>
              </div>

              <div class="col-4">
                
            </div>


              <div class="col-md-4 mb-3">
                <label for="validationServer013">Blood Type</label>
                <input type="text" class="form-control " id="validationServer013" placeholder="First name" required>
              </div>

            
            <button class="btn btn-primary" type="submit">Submit form</button>
          </form></div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"/>















        

            

            <div class="col-4">
                <button class="btn btn-success" type="submit">Add</button>
            </div>

        </div>
    </form>
</body>

</html>