<%- include('header', {title:"Blood Bank"}); -%>

    <section class="white-section" id="features">

        <div class="container-fluid">

            <div class="row">
                <div class=" feature-box col-lg-4">
                    <i class="fas fa-check-circle fa-4x icon"></i>
                    <h3 class="feature-title">100% Verified</h3>
                    <p> National Regulatory Authority (NRA).</p>
                </div>


                <div class="feature-box col-lg-4">
                    <i class="far fa-hospital fa-4x icon"></i>
                    <h3 class="feature-title">Hospital Support</h3>
                    <p>100+ Registration.</p>
                </div>


                <div class="feature-box col-lg-4">
                    <i class="fas fa-heart fa-4x icon"></i>
                    <h3 class="feature-title">Saved life.</h3>
                    <p>1000+</p>
                </div>

            </div>
        </div>
    </section>

    <section class="colored-section bottom-section"  >

        <div class="container-fluid blood-bank">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Bring a life back to power. Make blood donation your responsibility.
                    </h2>
                    <img class="blood-bank-image" src="../images/blood-bank.jpg" alt="blood-bank-img">
                </div>
            </div>
        </div>
    </section>

    <%- include('footer'); -%>