<center>
    <h1>
        <br><br>
        <%= message %>
        <br>
        
    </h1>
    <h2>Click to redirect...</h2>
    <h4>
        <a class="nav-link" href="/">Blood Bank Home</a><br><br>
        <a class="nav-link" href="/hospital">Hospital</a><br><br>
        <a class="nav-link" href="/patient">Patient</a>
    </h4>
</center>