body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat";
}

p {
    color: #8f8f8f;
}

/* section  */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

/* Navigation Bar */

.navbar {
    /* padding: 0 0 4.5rem; */
    margin-bottom: 10px;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 15px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}


#features {
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 3%;
}



.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.bottom-section{

    margin: 2% 10% 0% 10%;
    padding-top: 2rem;
 
}

.blood-bank-image{ 
    padding-top: 1rem;
    padding-bottom: 1rem;
        width: 100%; 
        max-width: 700px; 
        height: 400px; 

}



#footer{
    position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem 0 1rem 0;

}  


.footer-icon {
    margin: 20px 3px;
    padding: 1rem;
}


.dashboard-content{
    display: flex;
    justify-content: space-between;
}

.dashboard-content img{
    display: flex;
    height: 300px;
    width: 300px;
}

.table-parent{
    height:400px;
    width: 400px;
    overflow:auto;
}

.big-table-parent{
    height:300px;
    /* width: 500px; */
    overflow:auto;
}


.table{

    color: #6a5d5d;
}

.table tr:nth-of-type(odd){
    background-color: #f3f2fB;
}



@media (max-width: 800px) {
    .big-table-parent{
        width: 400px;
    }
}


@media (max-width: 990px) {
    .bottom-section{
        margin: 2% 0 0% 0%;
    }
    .dashboard-content{
        flex-direction: column;
    }
}