<%- include('loginpage_header'); -%>


    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div class="area">
                        <form class="form-horizontal" action="/patient/signin" method="POST">
                            <div class="heading">
                                <h4 class="form-heading">Sign In</h4>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputUsername">Email</label>

                                <div class="controls">
                                    <input id="inputUsername" name="email" placeholder="E.g. Akash@gmail.com"
                                        type="email" required>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputPassword">Password</label>

                                <div class="controls">
                                    <input id="inputPassword" placeholder="Min. 8 Characters" name="password"
                                        type="password" required>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">

                                    <button class="btn btn-success" type="submit">Sign In</button>

                                </div>
                            </div>

                            <div class="alert alert-error">
                                <button class="close" data-dismiss="alert" type="button">×</button>
                                <strong></strong>
                                <!-- Access Denied! Please provide valid authorization. -->
                            </div>
                        </form>
                    </div>
                </div>

                <div class="span6">
                    <div class="area">
                        <form class="form-horizontal" action="/patient/signup" method="POST">
                            <div class="heading">
                                <h4 class="form-heading">Sign Up</h4>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputName">Name</label>

                                <div class="controls">
                                    <input id="inputName" name="name" placeholder="E.g. Akash" type="text" required>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputContact">Contact</label>

                                <div class="controls">
                                    <input id="inputContact" name="contact" placeholder="E.g. 1234567898" type="text"
                                        required>
                                </div>
                            </div>

                            <div class="control-group">

                                <label class="control-label" for="inputBloodType">Blood Type</label>

                                <div class="controls">
                                    <select id="inputBloodType" name="bloodtype" required>

                                        <option value="" disabled selected>Select your option</option>
                                        <option>A+</option>
                                        <option>A-</option>
                                        <option>B+</option>
                                        <option>B-</option>
                                        <option>AB+</option>
                                        <option>AB-</option>
                                        <option>O+</option>
                                        <option>O-</option>
                                    </select>
                                    <!-- required -->

                                </div>
                            </div>



                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Email</label>

                                <div class="controls">
                                    <input id="inputEmail" name="email" placeholder="E.g. ashwinh@cybage.com"
                                        type="email" required>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputPassword">Password</label>

                                <div class="controls">
                                    <input id="inputPassword" name="password" placeholder="Min. 8 Characters"
                                        type="password" required>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-success" type="submit">SignUp</button>
                                </div>
                            </div>

                            <div class="alert alert-info">
                                <button class="close btn-lg btn-primary" data-dismiss="alert" type="button ">×</button>
                                <strong>hhhhhhhhhhh</strong>
                                <!-- SignUp Successful:Thank you for your registration. -->
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('loginpage_footer'); -%>